.products-items {
    display: flex;
    justify-content: space-around;
}

img {
    width: 200px;
    height: 250px;
}

span {
    color: rgb(233, 120, 120);
    display: block;
    font-size: 20px;
}

span:after {
    content: '$';
}

button {
    padding: 5px 10px;
    background: rgb(202, 99, 99);
    border: none;
    color: white;
}

.button_delete {
    padding: 10px 20px;
    background: rgb(202, 99, 99);
}